header.main {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    text-align: center;
    position: relative;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.096);
    background-image: url('https://images.pexels.com/photos/132197/pexels-photo-132197.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    font-family: Arial;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

img.headerimg {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 100%;
    z-index: -1;
    left: 0;
}

.bigme {
    justify-self: center;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

li a {
    padding: 8px;
}

a {
    text-decoration: none;
    color: blue;
}

ul.nav a:hover {
    background-color: white;
  }

.active {
    background-color: lightblue;
    padding-top: 8px;
    padding-bottom: 8px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6) ;
    height: 40px;
    align-items: center;
    font-family: Arial;
}

ul {
    text-align: left;
    font-size: 20px;
}

p {
    font-size: 20px;
}

h2 {
    font-family: 'Italianno', cursive;
    font-size: 50px;
}

h3 {
    font-size: 20px; 
}

button {
    width: 220px;
}

article {
    width: 100%;
    height: 800px;
    text-align: center;
    border-style: groove;
    margin-bottom: 30px;
}

article.intro {
    background-color: rgba(255, 0, 0, 0.3);
}

article.experience {
    background-color: rgba(141, 0, 141, 0.3);
}

article.hobbies {
    background-color: rgba(0, 0, 255, 0.3);
}   

article.form {
    background-color: rgba(255, 255, 0, 0.3);
}

article.links {
    background-color: rgba(37, 255, 37, 0.3);
}

/* INTRODUCTION PAGE */
.int {
    text-align: center;
}

/* EXPERIENCE PAGE */
ul.programming {
    list-style-type: square;
}

/* HOBBY PAGE */
.hobby {
    text-align: center;
    margin: auto;
}

.response {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

/* FORM PAGE */
.formpage {
    justify-self: center;
    width: 100%;
    height: 1080px;
}

/* LINK PAGE */
.mysite > button {
    width: 98%;
    margin: 12px;
}

.mysite > iframe {
    width: 100%;
    height: 720px;
}

/* */
article > header {
    font-family: 'Italianno', cursive;
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 1800px) {
    .flex{
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
    }

    article {
        width: 500px;
    }
}

/* @media only screen and (max-width: 2000px) {
    .flex{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
} */